{% extends "blog/base.html" %}
{% block content %}
 {% load static %}

 {% ifequal c 1  %}
  <a href="{% url 'addContest' %}"><button type="button" class="btn btn-info">Add Contest</button></a>
  {% endifequal %}

<table class="table">

 <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Contest Name</th>
      <th scope="col">Tags</th>
      <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
         <th scope="col">Go to Contest</th>
    </tr>
 </thead>
{% for r in cont %}


  <tbody>
    <tr>
      <th scope="row">{{r.id}}</th>
      <td>{{r.contest_name}}</td>
      <td>{{r.tags}}</td>
      <td>{{r.start}}</td>
        <td>{{r.end}}</td>

 <td><a href="{% url 'contestDesc' r.id %}"><button class="btn btn-primary" >Enter Contest</button></a></td>
    </tr>




{% endfor %}
     </tbody>
    </table>
{% endblock content %}