{% extends "blog/base.html" %}
{% block content %}
 {% load static %}

 {% ifequal c 1  %}
  <a href="{% url 'addCourse' %}"><button type="button" class="btn btn-info">Add course</button></a>
  {% endifequal %}

{% for r in courses %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{r.image.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{r.courseName}}</h5>
    <p class="card-text">{{r.content}}</p>
<a href="{% url 'showContent' r.id %}" class="btn btn-primary">Open Course</a><br><br>
       {% ifequal c 1  %}
<a href="{% url 'delete' r.id %}" class="btn btn-primary">Delete Course</a>
      {% endifequal %}
  </div>
</div>
<br>
{% endfor %}
{% endblock content %}