




 {% extends "blog/base.html" %}
{% block content %}
{% load static %}

 <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<style>
    .opp{
    font-family: 'Lobster', cursive;
    font-size:64px;
    color:#DAA520;
    padding-left:400px;
   }

</style>
 <div class="opp">Opportunities</div>


<div class="bs-example">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#home" class="nav-link active" data-toggle="tab">Scholarships</a>
        </li>
        <li class="nav-item">
            <a href="#profile" class="nav-link" data-toggle="tab">Internships</a>
        </li>
        <li class="nav-item">
            <a href="#messages" class="nav-link" data-toggle="tab">Fellowships</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="home">
            <h4 class="mt-2">Scholarships</h4>
              <div>
            {% for s in scholorships %}
             <a href="{{s.url}}" target="_blank">{{s.url}}</a>
                <br>
                <br>

            {% endfor %}
                </div>
        </div>
        <div class="tab-pane fade" id="profile">
            <h4 class="mt-2">Internships</h4>
                <div>
            {% for s in internships %}
             <a href="{{s.url}}" target="_blank">{{s.url}}</a>
                <br>
                <br>

            {% endfor %}
                </div>
        </div>
        <div class="tab-pane fade" id="messages">
            <h4 class="mt-2">Fellowships</h4>
                 <div>
            {% for s in fellowships %}
             <a href="{{s.url}}" target="_blank">{{s.url}}</a>
                <br>
                <br>

            {% endfor %}
                </div>
        </div>
    </div>
</div>
{% endblock content %}